<div class="body_inner">
    <div class="animated fadeIn">
        <div class="country_list_main_area">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control search_field" (input)="startSearch()" name="searchText" [(ngModel)]="searchText" placeholder="Search by song name">
                        <div class="input-group-append search_button">
                            <button *ngIf="!searchText" class="btn btn-danger search_button_style" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            <button *ngIf="searchText && searchText.length > 0" (click)="clearSearch()" class="btn btn-danger search_button_style" type="button">
                            <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-8">
                    <div style="float: right;">
                        <button class="btn btn-danger" routerLink="add"><i _ngcontent-jlk-c84="" class="fa fa-plus fa-md"></i> Add song</button>
                    </div>
                </div>
            </div>
    
            <div class="row mt-4" 
                infiniteScroll
                [infiniteScrollDistance]="2"
                [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()">
            <div class="col-12">    
                <div class="table_main_area" *ngIf="songDataList.length > 0">
                    <div class="table_heading">
                        <div style="width: 5%;">Sl No.</div>
                        <div style="width: 10%;">Cover Image</div>
                        <div style="width: 15%;">Name</div>
                        <div style="width: 25%;">Song</div>
                        <div style="width: 15%;">Album</div>
                        <div style="width: 10%;">Genre</div>
                        <div style="width: 8%;">Payment</div>
                        <div style="width: 12%;">Action</div>
                    </div>
    
                    <ng-container *ngFor="let song of songDataList; let i=index">
                    <div class="table_body">
                        <div style="width: 5%;"><div class="mobile_heading">Sl No.</div> 
                        {{ i+1 }}
                        </div>

                        <div style="width: 10%;"><div class="mobile_heading">Cover Image</div> 
                        <img class="customeImage" width="40px" height="40px" *ngIf="song.imgURL" [src]="song.imgURL" alt="">
                        <span *ngIf="!song.imgURL">NA</span>
                        </div>

                        <div style="width: 15%;"><div class="mobile_heading">Name</div> 
                        {{ song.name }}
                        </div>

                        <div style="width: 25%;"><div class="mobile_heading">Song</div> 
                        <audio controls>
                            <source src="{{song.songURL}}" type="audio/mpeg">
                        </audio>
                        </div>

                        <div style="width: 15%;"><div class="mobile_heading">Album</div> 
                            <span  *ngIf="song?.album_details!=''">{{ song?.album_details?.name }}</span>
                            <span *ngIf="song?.album_details==''">--</span>
                        </div>

                        <div style="width: 10%;"><div class="mobile_heading">Genre</div> 
                            <span *ngIf="song?.genre_details!=''">{{ song?.genre_details?.name }}</span>
                            <span  *ngIf="song?.genre_details==''">--</span>
                        </div>

                        <div style="width: 8%;"><div class="mobile_heading">Payment</div> 
                            <span *ngIf="song.is_paid==0">Free</span>
                            <span *ngIf="song.is_paid==1">Paid</span>
                        </div>

                        <div style="width: 12%;"><div class="mobile_heading">Action</div> 
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-light btn-sm" title="Details"  (click)="navigateToDetails(song.id)">
                            <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </div>
    
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-light btn-sm" title="Details"
                                (click)="navigateToEdit(song.id)">
                            <i class="fa fa-edit fa-lg"></i>
                            </a>
                        </div>
    
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-light btn-sm" title="Details"
                                (click)="openDeleteConfirmation(song.id)">
                            <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </div>
                        </div>

                    </div>
                    </ng-container>
                </div>
    
                <h3  style="text-align: center; width: 100%;" *ngIf="songDataList?.length === 0">
                    <img src="assets/images/no_image2.png" alt="noimage" style="width: 80%; max-width: 400px;" /> 
                </h3>
            </div>    
            </div>
        </div>
        <!-- LOADER -->
        <div *ngIf="isLoading" class="loder">
            <img src="assets/images/loader.gif" alt="loader" />  
        </div>
    </div>
    </div>