<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="body_inner">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="animated fadeIn">
                        <div class="country_list_main_area">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <span><h3>Profile</h3></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="updateProfile()">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <div class="form-group upload_document_form_area mt-0">
                                                    <div class="file_upload1">
                                                        <img [src]="profileImage" alt="" class="upload_img" />
                                                        <div class="input--file">
                                                            <span>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                    <circle cx="12" cy="12" r="3.2"/>
                                                                    <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                                                                    <path d="M0 0h24v24h-24z" fill="none"/>
                                                                </svg>
                                                            </span>

                                                            <input name="Select File" id="coverImage" (change)="coverAlbumUpload($event)" type="file" formControlName="profile_image"/>
                                                        </div>
                                                    </div>
                                                    <p class="file_upload_text">Upload Profile Image </p>
                                                    <mat-error *ngIf="formSubmitted && f.profile_image.errors">
                                                        <div *ngIf="f.profile_image.errors.required || f.profile_image.errors.nospace">*Please upload profile image</div>
                                                    </mat-error>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Full Name</mat-label>
                                                <input matInput placeholder="Enter Full Name..." formControlName="full_name" maxlength="100">
                                                <mat-error *ngIf="formSubmitted && f.full_name.errors">
                                                    <div *ngIf="f.full_name.errors.required || f.full_name.errors.nospace">*Please enter full name</div>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput formControlName="email">
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group calender">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Date of Birth</mat-label>
                                                <input class="customClass" matInput [matDatepicker]="picker" [max]="maxDate" formControlName="dob" (click)="picker.open()" readonly> 
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Mobile Number</mat-label>
                                                <input matInput placeholder="Mobile Number" formControlName="mobile_no" numbersOnly maxlength="13">
                                                <ng-container *ngIf="formSubmitted && f.mobile_no.errors">
                                                  <span *ngIf="f.mobile_no.errors.required || f.mobile_no.errors.noSpace" style="color: #ff301e;">*Please enter the mobile no</span>
                                                  <span *ngIf="f.mobile_no.errors.minlength" style="color: #ff301e;">*Mobile must be minimum 10 digits</span>
                                                </ng-container>
                                            </mat-form-field>
                                          </div>

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Country</mat-label>
                                                <mat-select formControlName="country_id">
                                                  <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <ng-container *ngIf="formSubmitted && f.country_id.errors">
                                                <span *ngIf="f.country_id.errors.required" style="color: #ff301e;">*Please select a country</span>
                                            </ng-container>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn btn-danger submit_but">Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>