<div class="login_bg_section">
    <img src="assets/images/bg.jpg" alt="" class="login_bg" />  
    </div>
  
    <div class="login_container">
      <div class="login-form">    
        <form [formGroup]="resetForm" (ngSubmit)="submitForm()" class="login_form_style ">
          <img src="assets/images/logo.svg" alt="" class="logo" /> 
          <h2 class="logo_text">Kawawa Sounds</h2> 
          <h3 class="logo_subtext">The African Rhythm</h3>
          <h4 class="forgot_password_heading">Reset your password</h4>
            <div class="for_login">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                <i class="fa fa-lock login_icon" aria-hidden="true"></i>
                <ng-container *ngIf="formSubmitted && f.password.errors">
                    <span *ngIf="f.password.errors.required || f.password.errors.noSpace" style="color: #ff301e;">*Please enter the password</span>
                    <span *ngIf="f.password.errors.minlength" style="color: #ff301e;">*Password must be minimum 6 characters in length</span>
                  </ng-container>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password">
                <i class="fa fa-lock login_icon" aria-hidden="true"></i>
                <ng-container *ngIf="formSubmitted && f.confirm_password.errors">
                    <span *ngIf="f.confirm_password.errors.required || f.confirm_password.errors.noSpace" style="color: #ff301e;">*Please enter the confirm password</span>
                    <span *ngIf="(!f.confirm_password.errors.required && !f.confirm_password.errors.noSpace) && (f.confirm_password.value !== f.password.value)" style="color: #ff301e;">*Password & confirm password must be same</span>
                  </ng-container>
            </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg">Update Password</button>
            </div>
        </form>	  
      </div>

      <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
      