<div class="animated fadeIn">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstStepForm" [completed]="isStepOneComplete">
            <ng-template matStepperIcon="edit">
                <mat-icon>done</mat-icon>
            </ng-template>

            <form autocomplete="off">
                <ng-template matStepLabel>Basic Details</ng-template>
                <div>
                    <div class="form-group">
                        <mat-form-field appearance="standard" class="w-100">
                            <mat-label>Account Type</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
  