<br>
<br>
<div class="animated fadeIn">
    <div class="country_list_main_area">
    	<div class="row">
            <div class="col-md-6">
                <span><h3>Podcast Details</h3></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <img class="customeImage" width="90px" height="90px" *ngIf="imgURL" [src]="imgURL" alt="">
                    <span *ngIf="imgURL==''">NA</span>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-md-4">
                <div class="input-group">
                   Name: {{podcastDetails?.name}}
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row" *ngIf="podcastDetails?.length>0">

            <div class="col-md-4">
                <audio controls>
				  	<source src="{{podcastDetails.podcast_url}}" type="audio/mpeg">
				</audio>
            
            </div>
        </div>
        <br>
        <hr>
        <div class="row">

            <div class="col-md-4">
                <div class="input-group">
                   Details: {{podcastDetails?.details}}
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                   Podcast Category: {{podcastDetails?.category_details?.name}}
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group" *ngIf="podcastDetails?.is_paid==0">
                   Payment: Free
                </div>

                <div class="input-group" *ngIf="podcastDetails?.is_paid==1">
                   Payment: Paid
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
    </div>
    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>