<div class="page_indide">
<div class="animated fadeIn">
    <div class="page_heading"> 
        <h2>Podcast Details</h2>
        </div>
    <div class="country_list_main_area">
        <div class="row">
            <div class="col-12 image_center">
                <div class="details_image">
                    <img *ngIf="imgURL" [src]="imgURL" alt="">
                    <span *ngIf="imgURL==''">NA</span>
                </div>

                <div class="details_right_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="full">
                                <strong>Name:</strong> {{podcastDetails?.name}}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="full">
                                <strong>Podcast Category:</strong> {{podcastDetails?.category_details?.name}}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="full">
                                <div *ngIf="podcastDetails?.is_paid==0">
                                    <strong>Payment:</strong> Free
                                </div>
                
                                <div *ngIf="podcastDetails?.is_paid==1">
                                    <strong>Payment:</strong> Paid
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="full">
                                <strong>Details:</strong> {{podcastDetails?.details}}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="full pl-0">
                                <div *ngIf="podcastDetails?.length>0">
                                    <audio controls>
                                            <source src="{{podcastDetails.podcast_url}}" type="audio/mpeg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
 
        

        <br>
    </div>
    <!-- LOADER -->
    <div *ngIf="isLoading" class="loder">
        <img src="assets/images/loader.gif" alt="loader" />  
    </div>
</div>
</div>