.color-identification {
    top: 0;
    left: 0;
    float: right;
}
.color-identification .box {
    height: 22px;
    width: 22px;
}
.color-identification .red {
    background-color: #f7dcdc;
    border: 1px solid #ff0000;
    margin-bottom: 10px;
}

.color-identification .blue {
    background-color: #abd2ff;
    border: 1px solid #0076ff;
}

.color-box {
    display: flex;
}

.filter-box {
    display: flex;
}

.box-text {
    float: left;
    margin-left: 5px;
}

.chart {
    max-width: 650px;
    margin: 35px auto;
  }