<div class="animated fadeIn">
  <!-- SONGS GRAPH -->
  <div class="card">
    <div class="card-header">
      <h3 class="heading-text">Songs Graph</h3>
      <div class="filter-box">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="graphSongFilter">
          <mat-radio-button (click)="changeSongGraphFilter('1')" value="1">Last 7 days</mat-radio-button>
          <mat-radio-button (click)="changeSongGraphFilter('2')" value="2">Last 30 days</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="(!validSongGraph)&&(shwGraph)">
        Sorry! Unable to load Songs Graph
      </div>
      <div class="alert alert-primary" role="alert" *ngIf="!shwGraph">
          Please wait! Loading Songs Graph...
      </div>
      <div *ngIf="shwGraph" class="row">
          <div class="col-md-6">
            <apx-chart
              [series]="chartOptionsSongDownload.series"
              [chart]="chartOptionsSongDownload.chart"
              [dataLabels]="chartOptionsSongDownload.dataLabels"
              [plotOptions]="chartOptionsSongDownload.plotOptions"
              [yaxis]="chartOptionsSongDownload.yaxis"
              [xaxis]="chartOptionsSongDownload.xaxis"
              [fill]="chartOptionsSongDownload.fill"
              [title]="chartOptionsSongDownload.title"
            ></apx-chart>
          </div>
          <div class="col-md-6">
            <apx-chart
              [series]="chartOptionsSongPlayed.series"
              [chart]="chartOptionsSongPlayed.chart"
              [dataLabels]="chartOptionsSongPlayed.dataLabels"
              [plotOptions]="chartOptionsSongPlayed.plotOptions"
              [yaxis]="chartOptionsSongPlayed.yaxis"
              [xaxis]="chartOptionsSongPlayed.xaxis"
              [fill]="chartOptionsSongPlayed.fill"
              [title]="chartOptionsSongPlayed.title"
            ></apx-chart>
          </div>
      </div>
    </div>
  </div>

  <!-- PODCASTS GRAPH -->
  <div class="card">
    <div class="card-header">
      <h3 class="heading-text">Podcasts Graph</h3>
      <div class="filter-box">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="graphPodcastFilter">
          <mat-radio-button (click)="changePodcastGraphFilter('1')" value="1">Last 7 days</mat-radio-button>
          <mat-radio-button (click)="changePodcastGraphFilter('2')" value="2">Last 30 days</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="card-body">
      <div class="alert alert-danger" role="alert" *ngIf="(!validPodcastGraph)&&(shwGraphPodcasr)">
        Sorry! Unable to load Podcasts Graph
      </div>
      <div class="alert alert-primary" role="alert" *ngIf="!shwGraphPodcasr">
          Please wait! Loading Podcasts Graph...
      </div>
      <div *ngIf="shwGraphPodcasr" class="row">
          <div class="col-md-6">
            <apx-chart
              [series]="chartOptionsPodcastDownload.series"
              [chart]="chartOptionsPodcastDownload.chart"
              [xaxis]="chartOptionsPodcastDownload.xaxis"
              [dataLabels]="chartOptionsPodcastDownload.dataLabels"
              [grid]="chartOptionsPodcastDownload.grid"
              [stroke]="chartOptionsPodcastDownload.stroke"
              [title]="chartOptionsPodcastDownload.title"
              [colors]="chartOptionsPodcastDownload.colors"
            ></apx-chart>
          </div>
          <div class="col-md-6">
            <apx-chart
              [series]="chartOptionsPodcastPlayed.series"
              [chart]="chartOptionsPodcastPlayed.chart"
              [xaxis]="chartOptionsPodcastPlayed.xaxis"
              [dataLabels]="chartOptionsPodcastPlayed.dataLabels"
              [grid]="chartOptionsPodcastPlayed.grid"
              [stroke]="chartOptionsPodcastPlayed.stroke"
              [title]="chartOptionsPodcastPlayed.title"
            ></apx-chart>
          </div>
      </div>
    </div>
  </div>
</div>
