<div class="login_bg_section">
    <img src="assets/images/bg.jpg" alt="" class="login_bg" />  
  </div>

  <div class="login_container">
    <div class="login-form">    
      <form [formGroup]="forgotForm" autocomplete="off" (ngSubmit)="submitForm()" class="login_form_style ">
        <img src="assets/images/logo.svg" alt="" class="logo" /> 
        <h2 class="logo_text">Kawawa Sounds</h2> 
        <h3 class="logo_subtext">The African Rhythm</h3>
        <h4 class="forgot_password_heading">Forgot Password</h4>
        <p class="forgot_password_text">We will email you an OTP to reset your password</p>
        

          <div class="for_login">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter email address" formControlName="email">
                <i class="fa fa-envelope login_icon" aria-hidden="true"></i>
                <ng-container *ngIf="formSubmitted && f.email.errors">
                    <span *ngIf="f.email.errors.required || f.email.errors.noSpace" style="color: #ff301e;">*Please enter the email</span>
                </ng-container>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>   
          </div>
      </form>	 
    </div> 
  </div>
<div *ngIf="isLoading" class="loder">
    <img src="assets/images/loader.gif" alt="loader" />  
</div>

