<div class="upload_document_form_area">
  <div class="row">
    <div class="col-md-8 mx-auto">
        <h2>Upload Document </h2>
        <div class="animated fadeIn upload_document form_shadow">
              <mat-vertical-stepper [linear]="isLinear" #stepper [selectedIndex]="selectedStep">
                <!-- FIRST STEP -->
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup" (ngSubmit)="submitFormFirstStep()">
                    <ng-template matStepLabel>Address</ng-template>

                    <div class="row">
                      <div class="col-12">
                        <mat-form-field appearance="outline">
                          <mat-label>Address and Street</mat-label>
                          <input matInput placeholder="Address and Street" formControlName="street" required [attr.disabled]="activeStatus? true : false">
                          <mat-error *ngIf="f1.street.errors">
                            <span *ngIf="f1.street.errors.required || f1.street.errors.nospace">*Please enter the street</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Building number</mat-label>
                          <input matInput placeholder="Building number" formControlName="building_no" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f1.building_no.errors">
                            <span *ngIf="f1.building_no.errors.required || f1.building_no.errors.nospace">*Please enter the building number</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput placeholder="City" formControlName="city" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f1.city.errors">
                            <span *ngIf="f1.city.errors.required || f1.city.errors.nospace">*Please enter the city name</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>State / Province</mat-label>
                          <input matInput placeholder="State / Province" formControlName="state" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f1.state.errors">
                            <span *ngIf="f1.state.errors.required || f1.state.errors.nospace">*Please enter the state name</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Zip code/ Postal code</mat-label>
                          <input matInput placeholder="Zip code/ Postal code" maxlength="10" formControlName="zip" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f1.zip.errors">
                            <span *ngIf="f1.zip.errors.required || f1.zip.errors.nospace">*Please enter the zip</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                  </div>
                    <div>
                      <button type="submit" mat-button *ngIf="activeStatus==false">Save & Next</button>
                      <button type="button" mat-button *ngIf="activeStatus==true" (click)="nextStep()">Next</button>
                    </div>
                  </form>
                </mat-step>

                <!-- SECOND STEP -->
                <mat-step [stepControl]="secondFormGroup" label="Add your bank account">
                  <form [formGroup]="secondFormGroup" (ngSubmit)="submitFormSecondStep()">
                      <div class="row">
                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Account holder name</mat-label>
                          <input matInput placeholder="Account holder name" formControlName="account_holder_name" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.account_holder_name.errors">
                            <span *ngIf="f2.account_holder_name.errors.required || f2.account_holder_name.errors.nospace">*Please enter the account holder name</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Account number</mat-label>
                          <input matInput placeholder="Account number" numbersOnly formControlName="account_number" maxlength="16" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.account_number.errors">
                            <span *ngIf="f2.account_number.errors.required || f2.account_number.errors.nospace">*Please enter the account number</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Branch name</mat-label>
                          <input matInput placeholder="Branch name" formControlName="branch_name" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.branch_name.errors">
                            <span *ngIf="f2.branch_name.errors.required || f2.branch_name.errors.nospace">*Please enter the branch name</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Routing no./ sort code</mat-label>
                          <input matInput placeholder="Routing no./ sort code" numbersOnly formControlName="routing_no" maxlength="13" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.routing_no.errors">
                            <span *ngIf="f2.routing_no.errors.required || f2.routing_no.errors.nospace">*Please enter the routing no</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Currency</mat-label>
                          <input matInput placeholder="currency" formControlName="currency" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.currency.errors">
                            <span *ngIf="f2.currency.errors.required || f2.currency.errors.nospace">*Please enter the currency</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Swift code</mat-label>
                          <input type="text" matInput placeholder="Swift code" formControlName="swift_code" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.swift_code.errors">
                            <span *ngIf="f2.swift_code.errors.required || f2.swift_code.errors.nospace">*Please enter the swift code</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Branch address</mat-label>
                          <input matInput placeholder="Branch address" formControlName="branch_address" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.branch_address.errors">
                            <span *ngIf="f2.branch_address.errors.required || f2.branch_address.errors.nospace">*Please enter the branch address</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Country</mat-label>
                          <mat-select placeholder="Branch Country" formControlName="bank_country" required [attr.disabled]="activeStatus? true : null">
                            <mat-option *ngFor="let country of countries" [value]="country.id">
                              {{country.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="f2.bank_country.errors">
                            <span *ngIf="f2.bank_country.errors.required || f2.bank_country.errors.nospace">*Please select the bank country</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">  
                        <mat-form-field appearance="outline">
                          <mat-label>State</mat-label>
                          <input matInput placeholder="State" formControlName="bank_state" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.bank_state.errors">
                            <span *ngIf="f2.bank_state.errors.required || f2.bank_state.errors.nospace">*Please enter the state</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">  
                        <mat-form-field appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput placeholder="City" formControlName="bank_city" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.bank_city.errors">
                            <span *ngIf="f2.bank_city.errors.required || f2.bank_city.errors.nospace">*Please enter the city</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">  
                        <mat-form-field appearance="outline">
                          <mat-label>Postal code / zip code</mat-label>
                          <input matInput placeholder="Postal code / zip code" maxlength="10" formControlName="bank_zip" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f2.bank_zip.errors">
                            <span *ngIf="f2.bank_zip.errors.required || f2.bank_zip.errors.nospace">*Please enter the zip</span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      </div>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button type="submit" mat-button *ngIf="activeStatus==false">Save & Next</button>
                      <button type="button" mat-button *ngIf="activeStatus==true" (click)="nextStep()">Next</button>
                    </div>
                  </form>
                </mat-step>

                <!-- THIRD STEP -->
                <mat-step [stepControl]="thirdFormGroup" label="Add your any govt identity">
                  <form [formGroup]="thirdFormGroup" (ngSubmit)="submitFormThreeStep()">
                    <div class="row">
                      <div class="col-md-6 text-center">  
                        <div class="file_upload1">
                          <img [src]="govtIDFront" alt="" class="upload_img" />
                          <div class="input--file">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="3.2"/>
                                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                                <path d="M0 0h24v24h-24z" fill="none"/>
                              </svg>
                            </span>
                            <input name="Select File" (change)="govtIDFrontUpload($event)" type="file" formControlName="file" [attr.disabled]="activeStatus? true : null"/>
                          </div>

                          <!-- LOADER -->
                          <!-- <div *ngIf="isLoadingImgFront" class="loder">
                            <img src="assets/images/loader.gif" alt="loader" />  
                          </div> -->
                        </div>
                        
                        <p class="file_upload_text">Upload Front Page of Your Govt. Identity </p>
                      </div>

                      <div class="col-md-6 text-center">  
                        
                        <div class="file_upload1">
                          <img [src]="govtIDBack" alt="" class="upload_img" />
                          <div class="input--file">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="3.2"/>
                                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                                <path d="M0 0h24v24h-24z" fill="none"/>
                              </svg>
                            </span>
                            <input name="Select File" (change)="govtIDBackUpload($event)" type="file" formControlName="file" />
                          </div>
                        </div>

                        <p class="file_upload_text">Upload Back Page of Your Govt. Identity</p>
                      </div>

                      <!-- <div class="col-md-4 text-center">  
                        <div class="file_upload1">
                          <img [src]="profilePicture" alt="" class="upload_img" />
                          <div style="cursor: pointer;" class="input--file">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="3.2"/>
                                <path d="M9 2l-1.83 2h-3.17c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2h-3.17l-1.83-2h-6zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                                <path d="M0 0h24v24h-24z" fill="none"/>
                              </svg>
                            </span>
                            <input name="Select File" (change)="profilePictureUpload($event)" type="file" formControlName="file" />
                          </div>
                        </div>
                        <p class="file_upload_text">Upload Your Profile Picture</p>
                      </div> -->
                    </div>  
                    <div class="mt-4">
                      <button mat-button matStepperPrevious>Back</button>
                      <button type="submit" mat-button *ngIf="activeStatus==false">Save & Next</button>
                      <button type="button" mat-button *ngIf="activeStatus==true" (click)="nextStep()">Next</button>
                    </div>
                  </form>
                </mat-step>

                <!-- FOURTH STEP -->
                <mat-step [stepControl]="fourthFormGroup" label="Add your sample song">
                  <form [formGroup]="fourthFormGroup" (ngSubmit)="submitFormFourStep()">
                    <div class="row">
                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Song Name</mat-label>
                          <input matInput placeholder="song name" formControlName="sample_song_name" required [attr.disabled]="activeStatus? true : null">
                          <mat-error *ngIf="f4.sample_song_name.errors">
                            <span *ngIf="f4.sample_song_name.errors.required || f4.sample_song_name.errors.nospace">*Please select the song type</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Upload Sample Song</mat-label>
                          <input matInput placeholder="Song Name" formControlName="sample_song" [attr.disabled]="activeStatus? true : null">
                        </mat-form-field>
                        <input name="Select Song" class="form-control song_upload" formControlName="sample_song_file" (change)="sampleSongUpload($event)" type="file" [attr.disabled]="activeStatus? true : null"/>
                        <mat-progress-bar mode="determinate" [value]="progress" [color]="updateColor(progress)"></mat-progress-bar>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Song type</mat-label>
                          <mat-select placeholder="Song type" formControlName="sample_song_type" required [disabled]="activeStatus? true : null">
                            <mat-option *ngFor="let type of genreList" [value]="type.id">
                              {{type.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="f4.sample_song_type.errors">
                            <span *ngIf="f4.sample_song_type.errors.required || f4.sample_song_type.errors.nospace">*Please select the song type</span>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">  
                        <mat-form-field appearance="outline">
                          <mat-label>Description</mat-label>
                          <textarea cols="30" rows="10" matInput placeholder="Description" formControlName="sample_song_description" required [attr.disabled]="activeStatus? true : null">

                          </textarea>
                        </mat-form-field>
                      </div>
                    </div>  
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button type="submit" mat-button *ngIf="activeStatus==false">Done</button>
                    </div>
                  </form>
                </mat-step>
              </mat-vertical-stepper>
              <!-- LOADER -->
              <div *ngIf="isLoading" class="loder">
                <img src="assets/images/loader.gif" alt="loader" />  
              </div>
        </div>
      </div>  
  </div>    
</div>
  